
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.upper-half {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-bottom: 50px;
    margin: 0 350px;
}

.header h3 {
    color: #f9faf8;
    font-size: 24px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

.header li {
    color: #e5e7eb;
    font-size: 18px;
}

.upper-middle {
    background-color: #1f2937;
    display: flex;
    padding-bottom: 50px;
    flex: 1;
    height: 25%;
    margin: 0 350px;
}

.upper-middle button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.left button {
    align-self: flex-start;
    width: auto;
    min-height: 35px;
    overflow: hidden;
}

.right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.upper-middle h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.upper-middle p {
    font-size: 18px;
    color: #e5e7eb;
}

.upper-middle img {
    border-radius: 25px;
    width: 100%;
    height: auto;
}

.lower-middle {
    background-color: white;
    text-align: center;
}

.middle-boxes {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.lower-middle {
    height: 25%;
    margin: 0 350px;
    padding-bottom: 50px;
}

.lower-middle h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.middle-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    display: flex;
    height: 300px;
    width: 225px;
    margin-bottom: 10px;
    border-radius: 25px;
    object-fit: cover;
}

.quote-section {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin: 0 450px;
}

.anonymous {
    display: block;
    align-self: flex-end;
    margin: 50px 600px;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
}

.action-section {
    margin: 50px 350px;
}

.call {
    background-color: #3882f6;
    border-radius: 25px;
    padding: 30px;
    display: flex;
}

.call-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin-left: 50px;
}

.call-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.call-right button {
    border: 2px solid #e5e7eb;
    color: white;
    border-radius: 25px;
    background-color: #3882f6;
    align-self: center;
    overflow: hidden;
    min-height: 35px;
    width: auto;
    font-size: 1.2rem;
    padding: 12px;
    font-weight: bold;

}

.call-title {
    color: #e5e7eb;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin: 0;
}

.call-sub {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}